* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: var(--white);
  font-family: Roboto;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: underline;
  color: var(--primary);
}

:root {
  --white:#f1f1f1;
  --black:#242424;
  --primary: #3fb1fd;
  --secondary: #554663;
}

.icon {
  user-select: none;
  width: 3rem;
}

.icon--big {
  user-select: none;
  width: 6rem;
}

@media (min-width: 576px) {
  * {
    font-size: 16px;
  }
}

@media (min-width: 768px) { 
  * {
    font-size: 18px;
  }
  body {
    padding-top: 100px;
  }
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 992px) {
  * {
    font-size: 20px;
  }
}