#gallery-one {
  text-align: center;
  width: 100%;
}

.gallery-one__container {
  display: flex;
  height: 33%;
}

.gallery-one__container--right {
  justify-content: flex-end;
}

.gallery-one__container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
}

.gallery-one__text {
  width: 50%;
  font-size: 1.5rem;
}